extends layout

block content 
  h1.page-header=title 
  if categories.length
    ul.content-list
      each category in categories 
        li
          a(href=`/inventory/category/${category.id}`) #{category.name}
  
  else
    p There are no categories listed in the inventory