extends layout

block content
  h1.page-header= title
  if allItems.length 
    ul.content-list
      each item in allItems
        li
          a(href=`/inventory/item/${item.id}`) #{item.name} 
          | - #{item.price} Bells
  
  else 
    p There are no items in the inventory.