@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mob-hor-pad: 1rem;
}

body {
  font-family: "Poppins", "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #074807;
  padding: 1rem;
}

nav {
  margin: 0 auto;
  max-width: 1200px;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template: repeat(2, auto) / 1fr 1fr;
}

.nav-item {
  text-align: center;
}

.nav-item--full-column {
  grid-column: 1/3;
  text-align: center;
}

.nav-link {
  color: #e3dede;
  font-size: 18px;
  font-weight: 600;
}

.nav-link:hover {
  color: #fff;
}

.logo {
  font-size: 2rem;
}

.main {
  background-color: #f0f0f0;
  flex-grow: 1;
}

.btn-container {
  padding: 2rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.btn-link {
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  background-color: #84ff84;
  color: #000;
  font-size: 1.125rem;
  justify-self: center;
}

.main-content {
  padding: 0 var(--mob-hor-pad) 1.7rem;
}

.page-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-content {
  margin: 0 auto;
  max-width: 1200px;
}

.content-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.item-image {
  width: 8rem;
  padding-bottom: 1rem;
  height: 8rem;
  object-fit: contain;
}

.bold-label {
  font-weight: 600;
}

.sub-list {
  list-style: disc;
  padding-left: 1.5rem;
}

.sub-list-link {
  color: #025502;
}

.sub-list-link:hover {
  color: #009e00;
}

.link-btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.link-btn {
  background-color: #976037;
  color: #eeeeee;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.125rem;
  width: 13.75rem;
  justify-self: center;
  font-family: inherit;
  cursor: pointer;
}

.delete-link-btn {
  background-color: #d40000;
}

.create-form,
.delete-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form button {
  padding: 0.5rem;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff;
  background-color: #067506;
  margin-bottom: 1rem;
  max-width: 18.75rem;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input input,
.label-input textarea {
  padding: 0.5rem;
  border: 2px solid #000;
  border-radius: 4px;
  font-family: inherit;
  max-width: 25rem;
}

.checkbox-wrapper {
  padding-left: 1rem;
}

.padding-bot {
  padding-bottom: 1rem;
}

.footer {
  padding: 2rem var(--mob-hor-pad);
  margin-top: auto;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.footer p {
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .footer,
  header,
  .btn-container,
  .main-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
